body {
    background-color: #fff;
}

.navbar {
    margin-bottom: 2rem;
}

.card {
    margin-bottom: 2rem;
}

.card-img {
    height: 20rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-img, .card-author, .card-date, .card-text {
    margin-bottom: 1rem;
}

.card-img__max {
    height: 35rem;
}

.card-btn {
    display: flex;
}

.card-btn a {
    margin-right: 1rem;
}